{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react", "prettier/flowtype"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": true
      }
    ]
  }
}
